<link href="/css/job-seeker-register.css" rel="stylesheet"/>
<div class="form-container">
    <div class="register-box">
    <form class="register-form">
        <p class="register-headline">Jobseeker Register Free</p>
        <hr/>
        <p class="register-headline2">Find jobs, create trackable resumes and enrich your applications.</p>
        

        <div class="form-group">
            <lable for="FirstName" class="register-label">First Name</lable>
            <input type="text" class="register-input" placeholder=""/> 
        </div>
        <div class="form-group">
            <lable for="LastName" class="register-label">Last Name</lable>
            <input type="text" class="register-input" placeholder=""/>
        </div>
        <div class="form-group">
            <lable for="Email" class="register-label">Email Address</lable>
            <input type="text" class="register-input" placeholder="Enter your Email ID"/>
        </div>
      
    </form>
    </div>
    
</div>
