<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HedgeLinks</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <!--Snycfusion-->
    <link href="~/content/ejthemes/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/content/default.css" rel="stylesheet" />
    <link href="~/content/default-responsive.css" rel="stylesheet" />
    <link href="~/content/ejthemes/responsive-css/ej.responsive.css" rel="stylesheet" />
    <link href="~/content/ejthemes/responsive-css/ejgrid.responsive.css" rel="stylesheet" />


    @RenderSection("Styles", required: false)

</head>
<body>
    <section id="large-menubar">
        <div class="row">
            <div class="main-menubar-container">
                <div class="col-md-2 text-center">
                    <img class="lg-logo" src="~/images/logo.png" alt="HedgeLinks.com" title="HedgeLinks" />
                </div>
                <div class="col-md-5 no-padding">
                    <div class="menu-item-container">
                        <div class="lg-menu-item theme-color">
                            Home
                        </div>
                        <div class="lg-menu-item">
                            Search for Jobs
                        </div>
                        <div class="lg-menu-item">
                            Companies
                        </div>
                        <div class="lg-menu-item">
                            Search for Resumes
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lg-menu-right">
                        <div class="lg-menu-sign-in lg-right-menu-item">
                            <a class="sign-in-link" title="HedgeLinks Sign In">Sign In</a>
                        </div>
                        <div class="spacer"></div>
                        <div class="lg-menu-employer lg-right-menu-item" title="Hedge Links Employer">
                            <a class="employer-in-link" title="HedgeLinks Employers">Employers</a>
                        </div>
                        <div class="spacer"></div>

                        <div class="lg-menu-post-job-btn lg-right-menu-item theme-color" title="Hedge Links Post Job">
                            <a class="post-in-link" title="HedgeLinks Post Job For Free">Post Job Free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">coderush</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>

                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>*@
        @RenderBody()
        <hr />
        <footer>
            <div class="footer-line"></div>
            <section id="site-footer">
                <div class="main-content-container ">
                    <div class="footer-column">
                        <a class="footer-logo" title="hedgelink.com"></a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                    </div>
                    <div class="footer-column">
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                    </div>
                    <div class="footer-column">
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                    </div>
                    <div class="footer-column">
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                    </div>
                    <div class="footer-column">
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item footer-bold" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                        <a class="footer-item" title="hedgelink.com">Hello</a>
                    </div>

                </div>
            </section>
            <p>&copy;HedgeLinks</p>
        </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <!--Syncfusion-->
    <script src="~/scripts/jsondata.min.js"></script>
    <script src="~/scripts/jsrender.min.js"></script>
    <script src="~/scripts/ej.web.all.min.js" type="text/javascript"></script>
    <script src="~/scripts/properties.js" type="text/javascript"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>
