<link href="/App/MenuPath/insert-menupath.css" rel="stylesheet" />
<script>

</script>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Insert Menupath</h3>
</div>
<div class="modal-body">
    <form name="insertForm" class="text-center" ng-submit="confirmInsert(insert)">
        <div class="row">
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" name="Name" value="" ng-model="insert.Name" class="insert-editor" placeholder="Name" />
                </div>
            </div>
            <div class="form-group" >
                <div class="col-md-10  col-md-offset-1">
                    <input type="text" ui-tinymce="tinymceOptions" ng-model="tinymceModel" name="Description" class="myTextArea" value="" placeholder="Description" />

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" name="PageName" value="" ng-model="insert.PageName" class="insert-editor"  placeholder="Page Name"  style="margin-top:20px;" />
                </div>
            </div>


        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="confirmInsert()">Confirm</button>
    <button class="btn btn-danger float-left" type="button" ng-click="cancel()">Cancel</button>
</div>
