@model IEnumerable<coderush.Models.MenuPath>

@{
    ViewData["Title"] = "Menupath";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}
<div ng-app="adminModule" ng-controller="menuPathController">

    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title text-primary"><i class="fa fa-users"></i> @ViewData["Title"]</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="Grid" ej-grid e-datasource="data"  e-allowpaging="true" e-editsettings="editSettings" e-toolbarsettings="toolbarItems">
                        <div e-columns>
                            <div e-column e-field="Id" e-isprimarykey="true"></div>
                            <div e-column e-field="Title"></div>
                            <div e-column e-field="Description"></div>
                            <div e-column e-field="PageName"></div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <script id="template" type="text/template">

        <table cellspacing="10">
            <tr>
                <td>
                    Title
                </td>
                <td colspan="3">
                    <input id="Title" name="Title" value="{{:Title}}" />
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    <textarea rows="3" cols="12" id="myTextArea" name="Description" value="{{:Description}}"></textarea>
                </td>
                <td>
                    Page Name
                </td>
                <td>
                    <input id="PageName" name="PageName" value="{{:PageName}}" />
                </td>
            </tr>

        </table>
    </script>
    <script id="templateEditForm" type="text/template">

        <input hidden id="Id" name="Id" value="{{:Id}}" />
        <table cellspacing="10">
            <tr>
                <td>
                    Title
                </td>
                <td colspan="3">
                    <input id="Title" name="Title" value="{{:Title}}" />
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    <textarea rows="3" cols="6" class="myTextArea" id="Description" name="Description" value="{{:Description}}"></textarea>
                </td>
                <td>
                    Page Name
                </td>
                <td>
                    <input id="PageName" name="PageName" value="{{:PageName}}" />
                </td>
            </tr>
        </table>
    </script>
</div>
@section Scripts{
<script src="~/App/MenuPath/menu-path-controller.js"></script>
    <script>
      
        var tinymce = function () {
                

        }
            
    </script>
    <script>
        //jQuery(document).ready(checkContainer);

        //function checkContainer() {
        //    if ($('#divIDer').is(':visible'))) { //if the container is visible on the page
        //        createGrid();  //Adds a grid to the html
        //    } else {
        //        setTimeout(checkContainer, 50); //wait 50 ms, then try again
        //    }
        //}
    </script>
    @*<script>
        $(function () {

            var dataManager = ej.DataManager({
                url: "/api/MenuPath",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            dataManager.ready.done(function (e) {
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/MenuPath/Insert",
                        removeUrl: "/api/MenuPath/Remove",
                        updateUrl: "/api/MenuPath/Update"
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        showDeleteConfirmDialog: true,
                        editMode: "dialogtemplate",
                        dialogEditorTemplateID: "#templateForm",
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        { field: "Id", headerText: 'Id', isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "Title", headerText: 'Title', validationRules: { required: true } },
                        { field: "Description", headerText: 'Description', validationRules: { required: true } },
                        { field: "PageName", headerText: 'Page Name', validationRules: { required: true } },
                    ],
                    actionComplete: "complete",
                    actionBegin: "begin",
                });
              
            });

        });


    </script>*@

}
