@model IEnumerable<HedgeLinks.Models.Menubar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}
<div ng-app="adminModule" ng-controller="menubarController">

    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title text-primary"><i class="fa fa-users"></i> @ViewData["Title"]</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive table-responsive-data2">
                        <button class="btn btn-default" ng-click="openInsertModal();"><span class="create-button fa fa-plus"></span></button>
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Name</th>
                                    <th>Path</th>
                                    <th>Page Name</th>
                                    <th>Created By</th>
                                    <th>Edited By</th>
                                    <th>Create Date</th>
                                    <th>Edit Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr-shadow" ng-repeat="item in data">

                                    <td>{{item.Id}}</td>
                                    <td>{{item.Name}}</td>

                                    <td>{{item.Path}}</td>
                                    <td>{{item.MenuPath.PageName}}</td>
                                    <td>{{item.CreatedUser.UserName}}</td>
                                    <td>{{item.EditedUser.UserName}}</td>
                                    <td>{{item.CreateDate}}</td>
                                    <td>{{item.EditDate}}</td>

                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" title="Edit" ng-click="openEditModal(item.Id)">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" title="Delete" ng-click="openDeleteModal(item.Id);">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>

                            </tbody>
                        </table>
                        <toaster-container></toaster-container>
                        <div class="table-loading" ng-if="tableLoading">
                            <div class="loading-overlay"></div>
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>

                        <div class="text-center">
                            <ul uib-pagination ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>
@section Scripts{


    <script src="~/App/Menubar/menubar-controller.js"></script>
    <script src="~/App/deleteModal/delete-modal-controller.js"></script>
    <script src="~/App/Menubar/edit-menubar-controller.js"></script>
    <script src="~/App/Menubar/insert-menubar-controller.js"></script>
    


}