<div class="col-md-5">
    <div class="reg-form-sliding">
        <p class="registration-title">Search Milions of Jobs</p>
        <form action="/register/" method="post">
            <div class="form-label">
                WHAT YOU DO?
                <select name="JobIndustry" class="register-select-list">
                    <option value="0">Please Select Your Job Industry</option>
                    <option value="1" ng-repeat="item in jobIndustry">{{item.Title}}</option>

                </select>
            </div>
            <div class="form-label">
                COMPENSATION
                <select name="Compensation" class="register-select-list">
                    <option value="0">Please Select Compansation</option>
                    <option value="1" ng-repeat="item in compensation">{{item}}</option>

                </select>

            </div>
            <div class="form-label">
                DESIRED JOB
                <input type="text" name="DesiredJob" class="text-input-box" />
            </div>
            <div class="form-label">
                <input class="theme-btn register-btn" type="submit" name="name" value="NEXT" />
            </div>
            <div class="register-facebook-btn">
                <input class="facebook-btn" type="submit" name="name" value="Cuntinue With Facebook" />
            </div>
        </form>
    </div>
</div>
