body{
    background-color:#f0f0f0;
}
.register-box{
    margin: 30px auto;
    width: 40%;
}
.register-form{
    padding: 50px;
    background-color:#fff;
}
.register-headline{
    color:black;
    font-size:22px;
    font-weight:bold;
    text-align: center;
}
.register-headline2{
    color:black;
    font-size:16px;
    font-weight:bold;
    margin-bottom:50px;
}
.register-label{
    display: block;
    color:black;
    font-size:14px;
    margin-bottom:8px;
}
.register-input{
    color:black;
    width:100%;
    padding:10px 5px;
    text-align: left;
    border-radius:5px;  
    border:1px solid #d1d1d1;
    
}
.register-input:focus{
    outline-color:#7db323;
    box-shadow: #7db323 3px 0px 7px ;
}
.input-container {
  
    background-color: #EDEDED;
    border: 1px solid #7db323;
    height:55px;

}

#real-input {
    display: none;
}

.file-info {
    font-size: 14px;
    color:gray;
    position: relative;
    top: calc(50% - 13px);
}

.browse-btn {
    background: #7db323;
    color: #fff;
    min-height: 35px;
    padding: 10px;
    border: none;
    float: right;
}

.browse-btn:hover {
    background: #94C04B;
}

@media (max-width: 300px) {
    button {
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }

    .file-info {
        display: block;
        margin: 10px 5px;
    }
}

.star-icon{
    color:red;
}