<h4>Furture Information</h4>

<div class="row">
	<div class="form-group">
		<span class="control-label col-md-6">have you ever visited iran? </span>
		<div class="col-md-8">
		
			<date-picker ng-model="data.VisitDate" date-format="YYYY/MM/DD"></date-picker>
			{{data.VisitDate}}
		
		</div>
	</div>
	<div class="form-group">
		<span class="control-label col-md-6">how long do you intend to stay on iran? </span>
		<div class="col-md-8">
			<input type="text" name="HowLongStay" ng-model="data.HowLongStay" class="form-control" required/>
		</div>
		<div class="text-danger col-md-8" ng-show="subForm.HowLongStay.$touched && subForm.HowLongStay.$invalid && subForm.HowLongStay.$error.required">
			This Field is Required!
		</div>
	</div>
	<div>
		<div class="form-group">
			<span class="control-label col-md-6">At which Iranian embassy or consulate you intend to pick up your visa?  </span>
			<div class="col-md-8">
				<input type="text" name="EmbassyName" ng-model="data.EmbassyName" class="form-control" required/>
			
			</div>
			<div class="text-danger col-md-8" ng-show="subForm.EmbassyName.$touched && subForm.EmbassyName.$invalid && subForm.EmbassyName.$error.required">
				This Field is Required!
			</div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-6">Estimate entrance date to Iran (YYYY / MM / DD): </span>
			<div class="col-md-8">
				<date-picker ng-model="data.EntranceDate" date-format="YYYY/MM/DD"></date-picker>
				{{data.EntranceDate}}
			
			
			</div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-6">Estimate departure date from Iran (YYYY / MM / DD): </span>
			<div class="col-md-8">
				<date-picker ng-model="data.DepartureDate" date-format="YYYY/MM/DD"></date-picker>
				{{data.DepartureDate}}
			
			
			</div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-6">Phone Number:  </span>
			<div class="col-md-8">
				<input type="text" name="PhoneNumber" ng-model="data.PhoneNumber" class="form-control" required/>
			
			</div>
			<div class="text-danger col-md-8" ng-show="subForm.PhoneNumber.$touched && subForm.PhoneNumber.$invalid && subForm.PhoneNumber.$error.required">
				This Field is Required!
			</div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-6">Home Address </span>
			<div class="col-md-8">
				<textarea cols="2" name="HomeAddress" rows="3" ng-model="data.HomeAddress" class="form-control" required></textarea>
			</div>
			<div class="text-danger col-md-8" ng-show="subForm.V.$touched && subForm.HomeAddress.$invalid && subForm.HomeAddress.$error.required">
				This Field is Required!
			</div>
		</div>
		<div class="form-group">
			<span class="control-label col-md-6">Any Comment? </span>
			<div class="col-md-8">
				<textarea cols="2" name="Comment" rows="3" ng-model="data.Comment" class="form-control"></textarea>
			</div>
			
		</div>
		
		<div class="form-group">
			<span class="control-label col-md-12"> </span>
			<div class="col-md-4 ">
				<a class="custom-button" href="#/section4"  ng-click="prevStep(current)">Prev</a>
			</div>
			<div class="col-md-4 text-right ">
				<button class="custom-button" ng-click="submitClick();">submit</button>
			</div>
			
			<div class="col-md-4 ">
			</div>
		</div>
	</div>
</div>
