<link href="/App/Article/insert-article.css" rel="stylesheet" />
<script>

</script>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Insert Article</h3>
</div>
<div class="modal-body">
    <form name="insertForm" class="text-center">
        <div class="row">
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" name="Author Name" value="" ng-model="AuthorName" class="insert-editor" placeholder="AuthorName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" name="Title" value="" ng-model="Title" class="insert-editor" placeholder="Title" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" name="Description" value="" ng-model="Description" class="insert-editor" placeholder="Description" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" name="Date" value="" ng-model="Date" class="insert-editor" placeholder="Date" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" name="Keyword" value="" ng-model="Keyword" class="insert-editor" placeholder="Keyword" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <select class="insert-editor" ng-model="SelectedArticleTopic">
                        <option value="0">select Article Topic</option>
                        <option value="{{item.Id}}" ng-repeat="item in articleTopic">{{item.Title}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <select class="insert-editor" ng-model="SelectedPage" ng-change="clearPath()">
                        <option value="0">select Page</option>
                        <option value="{{item.Id}}" ng-repeat="item in page">{{item.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" name="ExtenalLink" value="" ng-model="ExternalLink" ng-disabled="SelectedPage&&SelectedPage != '0'" class="insert-editor" placeholder="ExtenalLink" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div class="switch_box box_1">
                        <div class="col-md-6 no-padding">
                            <p class="float-left is-show-title">do you want to show this item in home page?</p>
                        </div>
                        <div class="col-md-6 no-padding">

                            <input type="checkbox" class="switch_1" ng-model="isShow">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button class="btn success-btn" type="button" ng-click="confirmInsert()">Confirm</button>
    <button class="btn cancel-btn float-left" type="button" ng-click="cancel()">Cancel</button>
</div>
