@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Hedgelinks-home.css" rel="stylesheet" />


<section id="top-cover">
    <div class="row">
        <div class="col-md-12 no-padding relative">
            <div class="top-cover-image" style="background-image:url(/images/top-cover.jpg)" title="HedgeLinks best recruiment system">

            </div>
            <div class="top-image-overlay">

            </div>
            <div class="top-cover-text-container">
                <p class="top-cover-title" title="Find The Job That Pays You Well.">Find The Job That Pays You Well.</p>
                <p class="top-cover-description" title="Find jobs, create trackable resumes and enrich your applications.">Find jobs, create trackable resumes and enrich your applications.</p>

            </div>
            <div class="top-cover-scroll-btn">

            </div>
        </div>
    </div>
</section>