@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Hedgelinks-home.css" rel="stylesheet" />


<section id="top-cover">
    <div class="row">
        <div class="col-md-12 no-padding relative">
            <div class="top-cover-image" style="background-image:url(/images/top-cover.jpg)" title="HedgeLinks best recruiment system">

            </div>
            <div class="top-image-overlay">

            </div>
            <div class="top-cover-text-container">
                <p class="top-cover-title" title="Find The Job That Pays You Well.">Find The Job That Pays You Well.</p>
                <p class="top-cover-description" title="Find jobs, create trackable resumes and enrich your applications.">Find jobs, create trackable resumes and enrich your applications.</p>

            </div>
            <div class="top-cover-scroll-btn">

            </div>
        </div>
    </div>
</section>
<section id="register-section" class="container pad-t60">
    <div class="row">
        <div class="col-md-6">
            <div class="info-list">
                <div class="info-item">
                    <div class="info-first-icon">
                    </div>
                    <div class="info-text">
                        <h4><b class="theme-color">Get noticed</b> bby over 25,000+ verified recruiters searching for top talent.</h4>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-first-icon">
                    </div>
                    <div class="info-text">
                        <h4><b class="theme-color">Get noticed</b> bby over 25,000+ verified recruiters searching for top talent.</h4>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-first-icon">
                    </div>
                    <div class="info-text">
                        <h4><b class="theme-color">Get noticed</b> bby over 25,000+ verified recruiters searching for top talent.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="reg-form-sliding">
                <p class="registration-title">Search Milions of Jobs</p>
                <form action="/register/" method="post">
                    <div class="form-label">
                        WHAT YOU DO?
                        <select name="Occupation" class="register-select-list">
                            <option value="0">Please Select One</option>
                            <option value="0">Accounting</option>
                            <option value="0">HealthCare</option>
                            <option value="0">Marketing</option>
                        </select>
                    </div>
                    <div class="form-label">
                        COMPENSATION
                        <select name="Compensation" class="register-select-list">
                            <option value="0">Please Select One</option>
                            <option value="0">$350k+</option>
                            <option value="0">$550k+</option>
                            <option value="0">$700k+</option>
                        </select>

                    </div>
                    <div class="form-label">
                        DESIRED JOB
                        <input type="text" name="DesiredJob" class="text-input-box" />
                    </div>
                    <div class="form-label">
                        <input class="theme-btn register-btn" type="submit" name="name" value="NEXT" />
                    </div>
                    <div class="register-facebook-btn">
                        <input class="facebook-btn" type="submit" name="name" value="Countinue With Facebook" />
                    </div>
                </form>
            </div>
        </div>

    </div>

</section>