<link href="/App/User/insert-user.css" rel="stylesheet" />
<script>

</script>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Change Password</h3>
</div>
<div class="modal-body">
    <form name="insertForm" class="text-center" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input ng-disabled="true" type="text" name="Email" value="" ng-model="Email" class="insert-editor" placeholder="Email" required />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input ng-disabled="true" type="text" name="FirstName" value="" ng-model="FirstName" class="insert-editor" placeholder="First Name" required />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" ng-disabled="true" name="LastName" value="" ng-model="LastName" class="insert-editor" placeholder="Last Name" required />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="password" name="OldPassword" value="" ng-model="OldPassword" class="insert-editor" placeholder="Old Password" required />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10  col-md-offset-1">

                    <input type="password" ng-model="Password" name="Password" value="" class="insert-editor" placeholder="New Password" required />

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10  col-md-offset-1">

                    <input type="ConfirmPassword" ng-model="ConfirmPassword" name="ConfirmPassword" value="" class="insert-editor" placeholder="Confirm New Password" required />

                </div>
            </div>


        </div>
       
    </form>

</div>
<div class="table-loading" ng-if="changePasswordLoading">
    <div class="loading-overlay"></div>
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
<div class="modal-footer">
    <button class="btn success-btn" type="button" ng-click="changePassword()">Confirm</button>
    <button class="btn cancel-btn float-left" type="button" ng-click="cancel()">Cancel</button>
</div>

